In [1]:
# Instala las librerías listadas en requirements.txt
%pip install -r ../requirements.txt

Requirement already satisfied: pandas in /home/diegokernel/vod-marketing-lab/.venv/lib/python3.12/site-packages (from -r ../requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: pyodbc in /home/diegokernel/vod-marketing-lab/.venv/lib/python3.12/site-packages (from -r ../requirements.txt (line 2)) (5.2.0)
Requirement already satisfied: numpy>=1.26.0 in /home/diegokernel/vod-marketing-lab/.venv/lib/python3.12/site-packages (from pandas->-r ../requirements.txt (line 1)) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/diegokernel/vod-marketing-lab/.venv/lib/python3.12/site-packages (from pandas->-r ../requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/diegokernel/vod-marketing-lab/.venv/lib/python3.12/site-packages (from pandas->-r ../requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/diegokernel/vod-marketing-lab/.venv/lib/python3.12/site-packages (from pandas->-r ../requirements.txt (line 1)) (2025.2)
Requirement already satisfied: six>=1.5 in /home/diegokernel/vod-marketing-lab/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->-r ../requirements.txt (line 1)) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Mueve el cwd un nivel arriba (a la raíz del proyecto)
%cd ..

/home/diegokernel/vod-marketing-lab

In [4]:
from utils.db import get_sqlserver_conn, load_table

In [5]:
# Celda: crear esquema y tabla de ejemplo si no existen
from utils.db import get_sqlserver_conn

SERVER   = 'vod-marketing-server.database.windows.net'
DATABASE = 'vod_marketing_db'
USER     = 'dbadmin'
PWD      = '@Infernity1'

conn = get_sqlserver_conn(SERVER, DATABASE, USER, PWD)
cur = conn.cursor()

# Crear el esquema y la tabla (silencioso si ya existen)
cur.execute("""
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'Sales')
    EXEC('CREATE SCHEMA Sales');
IF OBJECT_ID('Sales.Orders', 'U') IS NULL
    CREATE TABLE Sales.Orders (
        OrderID INT IDENTITY PRIMARY KEY,
        CustomerName NVARCHAR(100),
        Amount DECIMAL(10,2),
        OrderDate DATETIME2
    );
""")

# Insertar un par de filas de ejemplo (solo si la tabla está vacía)
cur.execute("""
IF NOT EXISTS (SELECT * FROM Sales.Orders)
INSERT INTO Sales.Orders (CustomerName, Amount, OrderDate)
VALUES
    ('Diego', 12.50,  GETDATE()),
    ('Ana',    8.75,  GETDATE());
""")

conn.commit()
cur.close()
print("Tabla Sales.Orders asegurada con datos de ejemplo.")

Tabla Sales.Orders asegurada con datos de ejemplo.

In [6]:
conn = get_sqlserver_conn(SERVER, DATABASE, USER, PWD)
df  = load_table(conn, 'Sales.Orders',top_n=5)
df.head()

/home/diegokernel/vod-marketing-lab/utils/db.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

   OrderID CustomerName  Amount                  OrderDate
0        1        Diego   12.50 2025-05-14 05:33:19.656666
1        2          Ana    8.75 2025-05-14 05:33:19.656666